<h2>Configuration</h2>

<p>Please select the section you would like to configure</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
	<div class="col">
		<div class="card card-action card-body text-center">
			<a class="stretched-link text-reset text-decoration-none h4" href="membership-type">Membership Types</a>
		</div>
	</div>

	<div class="col">
		<div class="card card-action card-body text-center">
			<a class="stretched-link text-reset text-decoration-none h4" href="organisation-type">Organisation Types</a>
		</div>
	</div>
</div>