<h2>Membership Types</h2>

{{#if saved}}
<div class="alert alert-success text-center">Membership Types saved successfully</div>
{{/if}}

<form id="app" method="post">
	<button type="button" class="btn btn-success btn-lg mb-3" @click="addType">+ Add</button>

	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
		<div class="col mb-3" v-for="(type, index) in types" :key="type.id">
			<input type="hidden" name="id[]" :value="type.id" />

			<div class="card card-body">
				<div class="form-group mb-3">
					<label :for="'name-' + index">Membership Type</label>
					<input type="text" class="form-control" name="type[]" :id="'name-' + index" v-model="type.Name"
						required />
				</div>

				<div class="form-group mb-3">
					<label :for="'cost-' + index">Cost</label>
					<div class="input-group">
						<span class="input-group-text">&pound;</span>
						<input type="text" class="form-control" name="cost[]" :id="'cost-' + index" v-model="type.Cost"
							required />
					</div>
				</div>

				<div class="row row-cols-2 align-items-center mb-3">
					<div class="col">Is Organisation?</div>
					<div class="col">
						<div class="btn-group" role="group" aria-label="Is Organisation?">
							<input type="radio" value="1" class="btn-check" :name="'isOrganisation[' + index + ']'"
								:id="'isOrganisation-' + index + '-y'" autocomplete="off"
								:checked="type.IsOrganisation" />
							<label class="btn btn-outline-success" :for="'isOrganisation-' + index + '-y'">Yes</label>

							<input type="radio" value="0" class="btn-check" :name="'isOrganisation[' + index + ']'"
								:id="'isOrganisation-' + index + '-n'" autocomplete="off"
								:checked="!type.IsOrganisation">
							<label class="btn btn-outline-danger" :for="'isOrganisation-' + index + '-n'">No</label>
						</div>
					</div>
				</div>

				<div class="row row-cols-2 align-items-center mb-3">
					<div class="col">Is Active?</div>
					<div class="col">
						<div class="btn-group" role="group" aria-label="Is Active?">
							<input type="radio" value="1" class="btn-check" :name="'isActive[' + index + ']'"
								:id="'isActive-' + index + '-y'" autocomplete="off" :checked="type.IsActive" />
							<label class="btn btn-outline-success" :for="'isActive-' + index + '-y'">Yes</label>

							<input type="radio" value="0" class="btn-check" :name="'isActive[' + index + ']'"
								:id="'isActive-' + index + '-n'" autocomplete="off" :checked="!type.IsActive">
							<label class="btn btn-outline-danger" :for="'isActive-' + index + '-n'">No</label>
						</div>
					</div>
				</div>

				<hr />
				<input type="hidden" :name="'lbl[' + index + ']'" :value="type.Label.id" />

				<colour-picker title="Label Background" v-model="type.Label.BackgroundColour" :name="'bg[' + index + ']'"></colour-picker>

				<colour-picker title="Label Foreground" v-model="type.Label.ForegroundColour" :name="'fg[' + index + ']'"></colour-picker>

				<span class="badge" v-bind:style="{backgroundColor: type.Label.BackgroundColour, color: type.Label.ForegroundColour}">Sample Label</span>
			</div>
		</div>
	</div>
	<button class="btn btn-default btn-lg" id='save-button'>Save</button>
</form>

<script src="/js/vue.js"></script>
<script src="/js/component/ColourPicker.js"></script>
<script src="/js/smoothscroll.min.js"></script>
<script>
	let id = 0;

	const app = new Vue({
		el: '#app',
		data: {
			types: {{{ json types }}}
		},
	mounted: function() {
		this.types.forEach(t => {
			if (t.Label === null) {
				t.Label = {
					id: --id,
					Name: "",
					BackgroundColour: "#000000",
					ForegroundColour: "#FFFFFF"
				}
			}
		})
	},
	methods: {
		addType: function() {
			this.types.push({
				Name: "",
				id: --id,
				Cost: 0,
				IsActive: true,
				IsOrganisation: true,
				Label: {
					id: --id,
					Name: "",
					BackgroundColour: "#000000",
					ForegroundColour: "#FFFFFF"
				}
			});

			// scroll to the bottom of the page
			Vue.nextTick(() => {
				document.getElementById('save-button').scrollIntoView(true);
			});
		}
	}
	})
</script>
