<div id="app">
	<h2>Seasons</h2>
	<button class="btn btn-lg btn-success mb-3">+ Add</button>

	<div class="row row-cols-1 row-cols-lg-2">
		<div class="col mb-3">
			<div class="card card-body">
				<h3 class="text-center">Current Season</h3>

				<div class="alert alert-danger text-center" v-if="currentSeason == null">There is no current season. Many sections of this system will not work correctly until one is added!</div>

				<div v-if="currentSeason != null">
					<div class="form-group mb-3">
						<label for="name">Identifier</label>
						<input type="text" name="name" id="name" class="form-control" required />
					</div>

					<div class="form-group mb-3">
						<label for="start">Start Date</label>
						<input type="date" name="start" id="start" class="form-control" required />
					</div>

					<div class="form-group mb-3">
						<label for="end">End Date</label>
						<input type="date" name="end" id="end" class="form-control" required />
					</div>
				</div>
			</div>
		</div>

		<div class="col mb-3">
			<h3 class="text-center">Other Seasons</h3>

			<div class="alert alert-warning text-center" v-if="seasons.length === 0">No other seasons configured</div>

			<div class="accordion" id="seasons">
				<div class="accordion-item" v-for="season in seasons">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse-' + season.id" aria-expanded="false" :aria-controls="'collapse-' + season.id">
						<span class="accordion-header header">2021</span>
					</button>
					<div :id="'collapse-' + season.id" class="accordion-collapse collapse" data-bs-parent="#seasons">
						<div class="accordion-body">
							<div class="form-group mb-3">
								<label for="name">Identifier</label>
								<input type="text" name="name" id="name" class="form-control" required />
							</div>

							<div class="form-group mb-3">
								<label for="start">Start Date</label>
								<input type="date" name="start" id="start" class="form-control" required />
							</div>

							<div class="form-group mb-3">
								<label for="end">End Date</label>
								<input type="date" name="end" id="end" class="form-control" required />
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script src="/js/vue.js"></script>
<script>
	const app = new Vue({
		el: '#app',
		data: {
			currentSeason: null,
			seasons: []
		}
	});
</script>