<head>
	<!-- Meta tags -->
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>

	<!-- Title -->
	<title>{{ title }} | {{getConfigValue 'config/site' 'title' 'Org'}}</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<link href="/fonts/asket/font.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap" rel="stylesheet">

	<style>
		.bg-default {
			background-color: #282360 !important;
		}

		.btn-default,
		.btn-default:hover {
			background-color: #282360;
			border-color: #282360;
			color: #FFF;
		}

		.sidebar .nav-link.active {
			background-color: #FFF;
			color: #282360;
		}

		@media (min-width: 992px) {
			main {
				display: flex;
				min-height: 100vh;
			}

			.sidebar {
				width: 280px;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Asket';
			text-transform: uppercase;
		}

		body {
			font-family: 'Open Sans', 'OpenSans';
		}

		.search-results-container{
			border: 1px solid rgba(0,0,0,0.125);
			position: relative;
			top: -0.25rem;
		}

		.search-result{
			padding: 0.5rem;
			background-color: #EFEFEF;
		}

		.search-result:hover{
			background-color: #FFF;
			cursor: pointer;
		}
	</style>
</head>
