<!-- Meta tags -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>

<!-- Title -->
<title>{{ title }} | {{getConfigValue 'config/site' 'title' 'Org'}}</title>

<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/fonts/asket/font.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap" rel="stylesheet">

	<link href="/css/site.css" rel="stylesheet" />

<script>
	window.uploadServer = "{{uploadServer}}";
</script>