<label for="password">Password</label>
<input type="password" id="password" name="password" class="form-control mb-3" required />

<label for="confirm">Confirm Password</label>
<input type="password" id="confirm" name="confirm" class="form-control mb-3" required />

<script>
	const password = document.getElementById("password");
	const confirm = document.getElementById("confirm");

	password.addEventListener("keyup", checkPasswords);
	confirm.addEventListener("keyup", checkPasswords);

	function checkPasswords(){
		if(password.value != confirm.value){
			confirm.setCustomValidity("Passwords do not match");
			return false;
		}

		confirm.setCustomValidity('');
		return true;
	}
</script>