<img src="assets/logo.png" width="150" class="mx-auto d-block my-3"/>

<div class="card card-body">

	<h2>Log In</h2>
	<p>Enter your credentials into the form below to log in</p>

	<form method="post">
		{{#if error}}
		<div class="alert alert-danger">
			{{error}}
		</div>
		{{/if}}

		<div class="form-floating mb-3">
			<input type="email" name="email" maxlength="255" id="email" placeholder="Email address" class="form-control"
				value="{{email}}" required />
			<label class="form-label" for="email">Email address</label>
		</div>

		<div class="form-floating mb-3">
			<input type="password" name="password" maxlength="72" id="password" placeholder="Password" class="form-control" required />
			<label class="form-label" for="password">Password</label>
		</div>

		<button type="submit" class="btn btn-default btn-lg">Log In</button>
	</form>

</div>