<h1 class="text-white">Log In</h1>
<div class="card card-body">
	<p>Enter your credentials into the form below to log in</p>

	<form method="post">
		{{#if error}}
		<div class="alert alert-danger">
			{{error}}
		</div>
		{{/if}}

		<div class="form-floating mb-3">
			<input type="email" name="email" id="email" placeholder="Email address" class="form-control" value="{{email}}" required />
			<label class="form-label" for="email">Email address</label>
		</div>

		<div class="form-floating mb-3">
			<input type="password" name="password" id="password" placeholder="Password" class="form-control" required />
			<label class="form-label" for="password">Password</label>
		</div>

		<button type="submit" class="btn btn-default btn-lg">Log In</button>

		<a href="/organisation/new" class="d-block d-lg-inline ms-lg-5">I want to register my band</a>
	</form>

</div>