<h2>{{user.firstName}} {{user.surname}}</h2>

{{#if needsPasswordReset}}
	<div class="alert alert-warning text-center">You must change your password before continuing</div>
{{/if}}

{{#if saved}}
	<div class="alert alert-success text-center">Changes saved successfully!</div>
{{/if}}

<div class="card card-body mb-3">
	<h3 class="text-center">User Details</h3>

	<form method="post">
		{{> user user=user accountControls=session.user.IsAdmin }}

		<div class="text-center">
			<button class="btn btn-default">Save</button>
		</div>
	</form>
</div>

<div class="row row-cols-1 row-cols-lg-2">
	<div class="col mb-3">
		<div class="card card-body">
			<h3 class="text-center">Change Password</h3>
			{{#if nomatch}}
				<div class="alert alert-danger text-center">Passwords must match</div>
			{{/if}}
			<form action="password" method="post" id="changePassword">
				{{> password}}
				<div class="text-center">
					<button class="btn btn-default">Update Password</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	const form = document.getElementById("changePassword");
	form.addEventListener("submit", (e) => {
		if(!checkPasswords()){
			form.reportValidity();
			e.preventDefault();
		}
	});
</script>