<p><a href="./">&lt; back to membership list</a></p>

<h2>Add Membership</h2>

<form method="post">
	<div class="input">
		<select name="type" required>
			<option value="">-- Please Select --</option>
			<option data-cost="0" value="1">Bronze</option>
		</select>
		<label>Membership Type</label>
	</div>
</form>