<h2>Create Event Schedule</h2>
<p class="mb-3"><a href="../">&lt; back to {{event.Name}}</a></p>

<div id="app">
	<button class="btn btn-success mb-3 btn-lg" @click="addItem">+ Add</button>

	<div class="card card-body bg-default text-center text-light fs-3">
		{{time event.Start}}: Event Start
	</div>

	<div class="schedule-item" v-for="(item, index) in items" :key="item.id">
		<div class="event-spacer"></div>

		<div class="card card-body bg-dark text-light">
			<div class="row">
				<div class="col-12 col-lg-3 mb-3">
					<label :for="'start-' + index">Start Time</label>
					<input type="time" :id="'start-' + index" class="form-control" v-model="item.Start" required />
				</div>

				<div class="col-12 col-lg-6 mb-3">
					<label :for="'name-' + index">Description</label>
					<input type="text" :id="'name-' + index" class="form-control" v-model="item.Description" required />
				</div>

				<div class="col-12 col-lg-3 mb-3">
					<p :for="'duration-' + index">Duration <small>(minutes)</small></p>
					<span class="text-light">${calcDuration(index)}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="event-spacer"></div>

	<div class="card card-body bg-default text-center text-light fs-3">
		{{time event.End}}: Event End
	</div>

</div>

<script src="/js/vue.js"></script>
<script>
	let id = -1;

	const app = new Vue({
		el: '#app',
		delimiters: ['${', '}'],
		data: {
			event: {{{ json event }}},
			items: []
		},
		methods: {
			addItem: function(){
				this.items.push({
					id: --id,
					Start: '',
					Description: ''
				});
			},
			calcDuration(index){
				const item = new Date();
				let vals = this.items[index].Start.split(":");
				if(vals.length !== 2){
					return;
				}

				item.setHours(vals[0]);
				item.setMinutes(vals[1]);
				item.setSeconds(0);

				let next = null;
				if(index >= this.items.length){
					next = new Date();
					vals = this.items[index + 1].Start.split(":");
					if(vals.length !== 2){
						return;
					}

					next.setHours(vals[0]);
					next.setMinutes(vals[1]);
					next.setSeconds(0);
				} else {
					next = new Date(this.event.End);
				}

				const mins = Math.round(((next - item) / 1000) / 60);
				return `${mins} minutes`;
			}
		}
	});
</script>