<h2>Add Organisation</h2>

{{#eq types.length 0}}
<div class="alert alert-warning text-center">There are no organisation types currently configured. {{#if
	session.user.IsAdmin}}You must <a href="/config/organisation-type/">create one</a> before creating an
	organisation{{else}}Please contact your system administrator{{/if}}.</div>
{{/eq}}

{{> organisation types=types required=true uploadToken=uploadToken}}