<div class="jumbotron text-center">
	<h2>Organisations</h2>

	<p class="mt-3 mb-3">Displaying all <b>{{organisations.length}}</b> Organisations on record <a href="new" class="btn-default">+ Add Organisation</a></p>

	<div class="input">
		<input type="text" id="filter" placeholder="Search..." />
		<label for="filter">Search</label>
	</div>
</div>

<div class="row text-center">
	{{#each organisations}}
	<div class="col-12 col-md-6 col-lg-4 mb-2">
		<div class="card card-action">
			<p class="h4"><a href="{{id}}">{{name}}</a></p>
			<div class="label-container">
				<span class="label bg-default text-light">{{type}}</span>
			</div>
		</div>
	</div>
	{{/each}}
</div>