<form method="post" class="text-center card card-body text-white bg-danger my-3">
	<h2>Are You Sure?</h2>
	<p>Are you sure you wish to remove {{contact.firstName}} {{contact.surname}} as a contact for {{organisation.name}}?
	</p>
	<p>This change will take place <b>immediately</b> and they will no longer be able to view or edit details for
		{{organisation.name}}</p>
	<p>If this is the only organisation that they are a contact for, their login access to the system will also be
		revoked.</p>

	<div>
		<a href="../../contacts" class="btn btn-warning">No, go back</a>
		<button class="btn btn-default">Yes, remove this contact</button>
	</div>
</form>