<h2>Add Scores</h2>
<p class="mb-3"><a href="../">&lt; back to {{event.Name}}</a></p>

{{#if earlyScore}}
<div class="alert alert-warning text-center">This event does not take place until {{date event.Start}} - are you sure
	you wish to add scores now?</div>
{{/if}}

{{#unless canEdit}}
<div class="alert alert-danger text-center">The scores have already been released for this event - you are not able to make any changes to the scores</div>
{{/unless}}

{{#if canEdit}}
<form method="post">
{{/if}}

{{#if canEdit}}
	<button class="btn btn-lg btn-success">Save</button>
	<input type="hidden" name="registration" value="{{currentRegistration.id}}" />
</form>
{{/if}}

<script>
	const ddl = document.getElementById("bands");
	ddl.addEventListener("change", () => {
		const val = ddl.value;
		if (val.trim().length === 0) {
			return;
		}

		window.location.href = val;
	});
</script>