<h2>Add Event</h2>
<div id="app">
	<div class="alert alert-danger text-center" v-if="errors.length > 0">
		<p>Please fix the following errors:</p>
		<ul>
			<li v-for="error in errors">${error}</li>
		</ul>
	</div>

	<form method='post' @submit.prevent="save">
		<div class='mb-3'>
			<div class='card card-body'>
				<h3>Event Details</h3>
				<div class='row row-cols-1 row-cols-lg-2 form'>
					<div class='col form-group mb-3'>
						<label class='form-label' for='name'>Name</label>
						<input type='text' class='form-control' id='name' name='name' placeholder='Name' maxlength="255" v-model="event.name" required />
					</div>
					<div class='col form-group text-start mb-3'>
						<label class='form-label' for='date'>Date</label>
						<input type="date" class="form-control" v-model="event.date" required>
					</div>
				</div>
				<div class='row row-cols-1 row-cols-lg-2'>
					<div class='col form-group mb-3'>
						<label class='form-label' for='start'>Start Time</label>
						<input type='time' class='form-control' id='start' name='start' required v-model="event.start" />
					</div>
					<div class='col form-group'>
						<label class='form-label' for='end'>End Time</label>
						<input type='time' class='form-control' id='end' name='end' required v-model="event.end" />
					</div>
				</div>

				<div class="form-group mb-3" v-if="amAdmin">
					<label class="form-label" for="season">Season</label>
					<select class="form-control" id="season" name="season" required v-model="event.season">
						<option value="">-- Please Select --</option>
						<option v-for="season in seasons" :value="season.id">${season.name}</option>
					</select>
				</div>
			</div>
		</div>

		<button class='btn btn-default' :disabled="errors.length > 0">Add Event</button>
	</form>
</div>

<script src="/js/vue.js"></script>
<script src="/js/byba-sdk.js"></script>
<script>
	const app = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: {
			errors: [],
			event: {
				name: "",
				date: null,
				start: "12:00",
				end: "17:00",
				season: null
			},
			seasons: []
		},
		methods: {
			save() {
				byba.events.create(this.event.name, this.event.date, this.event.start, this.event.end, this.event.season).then(response => {
					if (!response.success) {
						this.errors = response.errors;
						return;
					}

					window.location.href = response.json.doc.id;
				});
			}
		},
		mounted() {
			if (byba.amAdmin()) {
				byba.seasons.list().then(res => {
					if (!res.success) {
						this.errors.push("Failed to load seasons. Please try again");
						return;
					}

					this.seasons = res.json.docs;
				});

				byba.seasons.getCurrent().then(res => {
					if (!res.success) {
						return;
					}

					this.event.season = res.json.id;
				});
			}
		}
	});
</script>